[Unit]
Description=Trovastelle service

[Service]
User=pi
WorkingDirectory=/home/pi/trovastelle/src/celestial_compass/
ExecStart=/home/pi/trovastelle/src/celestial_compass/trovastelle.sh

[Install]
WantedBy=multi-user.target
