.leaflet-container {
width: 100%;
aspect-ratio: 16 / 9;
}

input[type=range]{
    width: 50%;
}

datalist {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
  
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.top-alert {
  margin-top: 60px; /* Add a top margin to avoid content overlay */
}

.skymap {
  margin-top: 10px; /* Add a top margin to avoid content overlay */
}

.targetlist {
  margin-top: 40px; /* Add a top margin to avoid content overlay */
}

thead th {
  font-weight: bold;
}

tbody th {
  font-weight:normal;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tbody th {
  border-right: solid 1px black; 
  border-left: solid 1px black;
}
thead th {background-color: white; border-bottom: solid 1px; text-align: center;}
tr:nth-child(even) {background-color: white;}
tr:nth-child(odd) {background-color: #f2f2f2;}
tr:last-child {border-bottom: solid 1px;}